*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
}

/* Nav Bar */
.topnav {
    background-color: #eee;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    color: #404040;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
  }
  .topnav li {
      list-style: none;
      display: inline-flex;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: #181818;
 }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    border-bottom: 3px solid #710174;
  }
  

/* Header */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}

.left {
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5%;
    padding-left: 7%;
}

.hero-image {
    width: 100%;
    height: auto;
    text-align: center;
    margin-left: -50px;
    padding: 5%;
}

.right {
    width: 50%;
    height: auto;
    padding-top: 2%;
}
h1 {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 3.5rem;
}
.subtitle {
    font-size: 1.25rem;
}
i {
    padding-left: 2%;
    font-size: 0.8rem;
}


/* Sections */
section:nth-child(even) {
    background: #db79ad;
    background-image: linear-gradient(180deg, #fff7f3, #fde4e1, #fccfcc, #fbb5bc, #f993b0, #f369a3, #e03f98, #c11889, #99037c, #710174, #710174);
}
section {
    width: 100%;
    min-height: 500px;
    padding: 5%;
    color: #303030;
}
.section-title {
    margin-bottom: 2%;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    letter-spacing: 5px;
}
.section-title p {
    font-size: 1rem;
    padding-top: 0.25%;
}

/* Section One */
.card-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: center;
    padding: 3%;
    margin: 0 auto;
}
.card-box {
    border: 2px solid #fafafa;
    border-radius: 10px;
    width: 20%;
    height: 300px;
    background-color: #fafafa;
    margin: 1% 2%;
    cursor: pointer;
    color: #707070;
}
  
.card-text {
    font-size: 1rem;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 2% 1%;
}
  .card {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: 250px;
    border-radius: 8px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease-in-out;
    background-color: #fff7f3;
    border-radius: 8px;
  }
  
  .card:hover .overlay {
    opacity: 0.9;
  }
  
  .overlay-text {
    color: #710174;
    font-size: 0.9rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: 	#505050;
    font-weight: 600;
  }
a:hover {
    font-weight: 600;
    color: #710174;
}


/* Back to Top link */

/* Section Two */
.section-two .card-box, .section-four .card-box {
    border: 1px solid #E0E0E0;
}

/* Section Four */


/* Footer */
footer {
 background-color: #f4f2f1;
}
.credits {
    padding: 5%;
    font-size: 0.75rem;
    line-height: 1.5rem;
}
.credits-links {
    font-weight: 600;    
}

/* Media Queries */
@media screen and (max-width: 760px) {
    /* NavBar */
    .topnav a {
        font-size: 0.8rem;
        justify-content: space-around;
    }
    /* Header */
    .main {
        flex-direction: column;
        margin-bottom: 5%;
    }
    .hero-image {
        margin: 0 auto;
        width: 110%;
        height: auto;
        text-align: center;
        padding: 0;
    }
    h1 {
        font-size: 3rem;
    }
    .subtitle {
        font-size: 1rem;
    }
    /* Sections */
    h2 {
        font-size: 1.25rem;
    }
    .card-box {
        width: 80%;
        margin: 2% auto;
    }
}

/* @media screen and (min-width: 900px) {
    .card-box {
        width: 40%;
        margin: 2% auto;
    }
} */
